<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Are you overweight?</title>
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
 <div class="container">
   <h1>Your BMI Ratio Result is below:</h1> <br />
  <p>You are {{res}}</p>
  <img src="{{ url_for('static', filename = 'skinny.jpg') }}">
 </div>
</body>
</html>
